header {
    background-color: crimson;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
h1{
    margin: auto;
    padding-bottom: 1.5rem;
}
ul {
    display: flex;
    gap: 20px;
}

li {
list-style-type: none;
font-weight: bold;
font-style: italic;
}