<header>
<H1>TITRE DU SITE</H1>

<button type="button" (click)="nouveauTitre('MayTheForceBeWithYou')" >Changer le titre du navigateur (MayTheForceBeWithYou)</button>

<p>Nombre aléatoire : {{ random }}</p>
<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/syntaxe">Formulaire</a></li>
        <li><a routerLink="/lifecycle">lifecyle</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
        <li><a routerLink="/bidon">Ca marchera pas</a></li>
        
    </ul>
</nav>
</header>